apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: manageproduct   # (optionnel mais recommandé)
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: abdallahhamrouni/products-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: PORT
              value: "5000"
            - name: DB_HOST
              value: "mysql"
            - name: DB_USER
              value: "root"
            - name: DB_PASSWORD
              value: "root"
            - name: DB_NAME
              value: "products_db"
            - name: DB_PORT
              value: "3306"

---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: manageproduct   # (optionnel mais recommandé)
  labels:
    app: backend            # ✅ IMPORTANT pour ServiceMonitor
spec:
  selector:
    app: backend
  ports:
    - name: http            # ✅ IMPORTANT (ServiceMonitor utilise ce nom)
      port: 5000
      targetPort: 5000
  type: ClusterIP
