apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: manageproduct
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: abdallahhamrouni/products-backend:latest
          ports:
            - containerPort: 5000
          env:
            - name: PORT
              value: "5000"
            - name: DB_HOST
              value: "mysql"
            - name: DB_USER
              value: "root"
            - name: DB_PASSWORD
              value: "root"
            - name: DB_NAME
              value: "products_db"
            - name: DB_PORT
              value: "3306"
            - name: CORS_ORIGIN
              value: "http://localhost:5173"
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: manageproduct
spec:
  selector:
    app: backend
  ports:
    - port: 5000
      targetPort: 5000
  type: NodePort
